@charset "utf-8";

.footer{
  width: 100%;
  background-color: #000;
  /* margin: 20px 0; */
}
.footer .inner-footer{
  display: flex;
  justify-content: center;
}
.footer .inner-footer .fcon{
  /* background-color: #f00; */
  flex: 0 1 1200px;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}